body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222; /* Color de fondo */
    color: white;
    font-family: 'Press Start 2P', cursive; /* Fuente retro */
    background-image: url('background.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
}

#menu-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 20px;
}

#game-title {
    font-size: 36px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
    margin: 10px 0; /* Espaciado entre botones */
}

button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
}

#instructions {
    margin-top: 20px; /* Espaciado superior */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
